.card {
  line-height: 1.3;
  width: 412px;
  height: 277px;
  padding: 8px;
}

p {
  margin: 0;
}

.border-solid {
  border: 1px black solid;
  display: table-cell;
  word-break: break-word;
  text-align: center;
  vertical-align: middle;
}

.border-dotted {
  border: 1px black dotted;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 18px;
}