.card {
  line-height: 1.3;
  width: 412px;
  height: 277px;
  padding: 2rem;
}

p {
  margin: 0;

}

.border-solid {
  border: 1px black solid;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
}

.border-dotted {
  border: 1px black dotted;

}

.table {
  display: table-cell;
  word-break: break-word;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
}

button {
  width: 304px;
  height: 32px;
  border-radius: 6px;
}